<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Blog</a></h1>
        </div>

        <div>
            <p>published: 25.10.2022, 14:21</p>
            <h2><a href="">My first post</a></h2>
            <p>Учусь делать сайт с помощью django.</p>
        </div>

        <div>
            <p>published: 25.10.2022, 14:23</p>
            <h2><a href="">My second post</a></h2>
            <p>Учусь делать сайт с помощью django.</p>
        </div>
    </body>
</html>